.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.4rem;
}

button {
  padding: 0.6rem 1.6rem;
  border-radius: 1rem;
  border: 1px solid var(--border);
  background: var;
  cursor: pointer;
}

.active {
  background: var(--text-primary);
  color: #fff;
}