.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.form {
  width: 36rem;
  background: var(--bg-secondary);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}

p {
  margin-top: 1.6rem;
  font-size: 1.3rem;
  text-align: center;
}