.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px;
	background: var(--bg-secondary);
	border-radius: 12px;

	select,
	input,
	textarea {
		padding: 10px;
		border-radius: 8px;
		border: 1px solid var(--text-tertiary);
	}

	button {
		background: var(--accent-purple-800);
		color: var(--text-inverted);
		padding: 10px;
		border-radius: 8px;
		cursor: pointer;
	}
}
